extends layout

block content
	#mes-info
		h1 Track Your Cargo
		h2 Your messenger :
		img(src="#{photo}")
		h3 #{name}

	#map-messenger-home




	include templates.html
	script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
	script(src="/socket.io/socket.io.js")
	script(type="text/javascript" src="javascripts/clienttrack.js")
	link(rel="stylesheet", href="stylesheets/style.css")
	