extends layout

block content
	include header.jade
	.container.container-intro
		h1.company-title Shipping Dojo
		.main-page-container
			p.text-info Only works between Boulder and Denver
			.row
				//- .row.col-md-2.datepicker
				//- 	input.form-control#datepicker(type="text" placeholder="Date")
				.row.col-md-2.div-from 
					h4 Send From :
				.row.col-md-3.div-origin 
					input.form-control.loc-origin(type="text" placeholder="Boulder")
				.row.col-md-2.div-to
					h4 Send To:
				.row.col-md-3.div-dest
					input.form-control.loc-dest(type="text" placeholder="Denver")

				.row.col-md-2.div-btn
					button.find-btn.btn.btn-large.btn-primary(type="button") Find Messenger
		.container.info-box-div
			.row
				.col-md-4.info-box
					h3.words Travelling? 
					h4 Have some space in your car?	
					h4 Do you want to make some extra cash?
					h4.last Then sign up and make some money 

					button.reg-mes-btn.btn.btn-large.btn-primary(type="button") Messenger Register
				.col-md-4.info-box
					h3.words Crowd-Source  your Shipping
					h4 Find people who can deliver your packages 
					h4 People just like you
				.col-md-4.info-box
					h3.words Faster and cheaper than traditional services
					h4 Our messengers can deliver
					ul.ullist
						h4
							li Packages
							li Pets
							li Gifts

		.container.container-results
		.row
			#compare-div.col-md-12
		#search-results

	include templates.html

	link(rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css")
	link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
	script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
	script(src="http://code.jquery.com/ui/1.10.3/jquery-ui.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0/handlebars.min.js")	
	script(src="/javascripts/main.js")
	link(rel="stylesheet", href="stylesheets/style.css")