extends layout

block content
	include header.jade

	.container.form-container
		h1 Messenger Registration	
		form.messenger-form 
			.form-group.col-md-12
				input.form-control.input-name(name="name", type="text", placeholder="Name")

			.form-group.col-md-12
				input.form-control.input-origin(name="origins", type="text", placeholder="Origins")
			.form-group.col-md-12
				input.form-control.input-dest(name="destinations", type="text", placeholder="Destinations")
			.form-group.col-md-12
				input.form-control.input-photo(name="photo", type="text", placeholder="Photo url")
			//- .form-group.col-md-3
			//- 	input.form-control.input-weight(name="max-weight", type="text", placeholder="max weight")
			.form-group.col-md-12
				input.form-control.input-price(name="price", type="text", placeholder="Minumum price")
			//- .form-group.col-md-3
			//- 	input.form-control.input-fragile(name="fragile", type="text", placeholder="Fragile")
			//- .form-group.col-md-3
			//- 	input.form-control.input-date(name="date", type="text", placeholder="enter Date")		
			.col-md-10.col-md-offset-5
				button.btn-messenger.btn.btn-primary.btn-large(type="button") Submit
	.container
		.col-md-3.col-md-offset-5
				button.btn-homepage.btn.btn-danger.btn-large(type="button") Home page

	link(rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css")
	link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
	script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
	script(src="http://code.jquery.com/ui/1.10.3/jquery-ui.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0/handlebars.min.js")	
	script(src="/javascripts/mesregister.js")
	link(rel="stylesheet", href="stylesheets/style.css")