extends layout

block content
	h1= title
	p Welcome to Messenger web page
	.message







	script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
	script(src="/socket.io/socket.io.js")
	script(type="text/javascript" src="javascripts/messengertrack.js")