extends layout

block content
	include header
	.intro
		h1 Sick of UPS And Fedex !!!
		button.reg-mes-btn.btn.btn-large.btn-primary(type="button") Messenger Register
		h2 Use Private Messenger 
	.container.main-page-container
	
	#search-results
	include templates.html

	
	link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
	script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0/handlebars.min.js")	
	script(src="/javascripts/main.js")
	link(rel="stylesheet", href="stylesheets/style.css")