<script id="searchresult-template" type="text/x-handlebars-template">
  
{{#each data}}
   <div class="result-div" data-id="{{_id}}">

     <div class=" container search-result alert alert-info col-md-8">
     <div class="row">
	    <div class="col-md-3">
	     	<span>
	     		<image src={{photo}}></image>
	     	</span> 

	    </div>
	     <div class="col-md-3 messenger-name">
	       <p> {{name}}</p>
	       <p>Price:${{price}}</p>
	       <p>Rating:* * * * * </p>
	     </div>
	      <div class="col-md-3"></div>
	     <div class="col-md-3">
	     <button class="btn btn-large ship-btn hidden" type="button">Ship with me</button> 
	     </div> 

     </div>
     </div>
   </div>
	{{/each}}
</script>

<script id="compare-template" type="text/x-handlebars-template">

 <div class="danger alert-info col-md-12 compare-box">
 <div class="row">

	 <div class="col-md-12">
	 <h4 class="citie">{{ups.val0}}</h4>
	  <h4>{{ups.val1}}</h4>
	
	<h4 class="citie">{{ups.val2}}</h4>
	<h4>{{ups.val3}}</h4>
	<h4 class="citie">{{ups.val4}}</h4>
	</div>
	</div>
	</div>
</script>

<script id="messenger-template" type="text/x-handlebars-template">
 <div class="danger alert-info col-md-12 compare-box">
 <div class="row">
	 <div class="col-md-12">
	  <p>{{info.name}}</p>
	
	</div>
	</div>
	</div>
</script>




