body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.div-btn{
	margin-left:20px;
}
.div-to{
	text-align: center;
}
.div-from{
	text-align:center;
}
.intro{
	text-align:center;
	margin-bottom:50px;
}