body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.div-btn{
	margin-left:20px;
}
.div-to{
	text-align: center;
}
.div-from{
	text-align:center;
}
.intro{
	text-align:center;
	margin-bottom:50px;
}
#search-results{
	margin-top:20px;
	height:100px;
	width:100%;
}
.ship-btn{
	background-color:orange;
	color:white;
}
img {
	height:100px;
	width:100px;
}
.messenger-name{
	font-size: 200%;
}
.search-result{
	background-color:white;
}
.messenger-photo{
	height:200px;
	width:200px;
}